* {
  margin: 0;
  outline: none;
}

body {
  background-color: #B0C4DE;
}

.MainHeader {
             width: 100%;
             padding: 1.5em;
             background-color: #4682B4	;
             background-size: cover;
             position: fixed;
             overflow: hidden;
             top: 0;
             left: 0;
             margin: auto;
             z-index: 100;
             text-align: center;
}

div.header {
  display: inline;
   position: relative;
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   color: #E0FFFF;
}
#welcome {
    margin: 0 15em 0 15em;
}

.toolbar {
  text-align: right;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1em;
  position: fixed;

  z-index: 2;
  padding: 20px 0px 20px 20px;

  margin: 0 0 0 -17.3em;


}
div.toolbar a {
  display: block;
  text-shadow: none;
  margin-left: 0em;;

}

.tool_btn {
  background-color: white;
  opacity: 0.5;
  height: 2em;

  border-radius: 50px 0 0 50px;
  padding-top: 0.5em;
  padding-right: 0.2em;
  padding-left: 10em;
  color: #4682B4;
  outline: none;
}
.tool_btn:hover{
    box-shadow: 0 0 10px white;
}
.tool_btn:active{
    box-shadow: 0 0 10px black;
}

.MainDiv {
    width: 50em;
    background-color: white;
    opacity: 0.8;
    position: relative;
    margin: 70px auto 0;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    padding: 2em;
    text-align: center;

}
.form{
  text-align: center;
  width: auto;
  margin: 0 auto;

}
a:link {
  text-decoration: none;
  color: #E0FFFF;
  }
a:visited {
  color: #E0FFFF;
}
a:hover {
  text-shadow: 1px 1px 2px white;
}
a:active {
  color:#E0FFFF;
  text-shadow: 1px 1px 2px black;
}
div.bottom {
  width: 100%;
  height: 200px;
  background-color: #4682B4	;
  background-size: cover;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 10;
}
.greetings {
  color: #4682B4;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: block;
  width: 100%;
  margin: 0.5em auto;
  text-align: center;
}

form {
  width: 38em;
  text-align: left;
  margin: auto;

}
.form {
  text-align: center;

}
input, select, textarea {
  margin: 0 1em;
  box-shadow: 0 0 2px black;
  border-radius: 20px;
  padding: 5px 10px;
  color: #4682B4;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  outline: none;
}

.input_span {
  color: Black;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.radio {
  border: none;
  box-shadow: none;
  width: 0.7em;
  height: 0.7em;
}
.input_file{
  opacity: 0;
  position: absolute;
}
.uploadButton {
    display: inline-block;

    background: #3df;
    padding: 5px 10px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.uploadButton:hover {
    background: #3ce;
}
.law_info{
  color: silver;
  opacity: 0.8;
  position: absolute;
  margin-top: 10em;
  margin-left: 1em;
}
.submit_btn {
  margin-left: 43%;
  background: #3df;
  padding: 5px 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: none;
  border: none;
}
.submit_btn:hover{
    background: #3ce;
}
.up_btn_main{
  position: fixed;
  margin-left: 0;
  margin-top: 35%;
  z-index: 100;
}
.up_btn{
  padding: 10px;
  background-color: #3df;
  border-radius: 50px;
  box-shadow: 0 0 10px white;
  color: white;
  font-size: 1.5em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.up_btn:hover{
  background-color: #3ce;
}
div.up_btn_main a:hover{
  text-shadow: none;
}
